<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 🔥 Ağ durumunu kontrol etmek için -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Kaski NFC App"
        android:supportsRtl="true"
        android:theme="@style/LaunchTheme"
        android:usesCleartextTraffic="true">
        
        <!-- 🔥 HTTP Keep-Alive için meta-data -->
        <meta-data
            android:name="http.keepAlive"
            android:value="true" />
        <meta-data
            android:name="http.keepAliveDuration"
            android:value="300000" />
        <meta-data
            android:name="http.maxConnections"
            android:value="5" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            
            <!-- SADECE normal launcher intent - otomatik açılma YOK -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!--
            NFC INTENT FILTER'I KALDIRILDI!
            
            Bu kısım kaldırıldı:
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            
            SONUÇ: Artık NFC kartı yaklaştırınca uygulama otomatik açılmayacak!
            Sadece kullanıcı manuel olarak uygulamayı açınca NFC çalışacak.
            -->
            
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
    </application>
    
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    
</manifest>